{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Admin - Main{% endblock %}</h1>
{% endblock %}


{% block content %}
    Admin page

    Add class
    <form action="add_class" method="POST">
        <label for="username">Class name</label><br>
        <input type="text" name="class_name" id="class_name" placeholder="Class name"><br>
        <input type="submit" value="Add class">
    </form>
    <br>
    <br>
    <br>
    Add student
    <form action="add_student" method="POST">
        <label for="username">Student username</label><br>
        <input type="text" name="username" id="username" placeholder="Student username"><br>
        <label for="username">Student full_name</label><br>
        <input type="text" name="full_name" id="full_name" placeholder="Student full_name"><br>
        <label for="username">Student password</label><br>
        <input type="text" name="password" id="password" placeholder="Student password"><br>
        <label for="username">Student email</label><br>
        <input type="text" name="email" id="email" placeholder="Student email"><br>
        <label for="username">Student class_name</label><br>
        <input type="text" name="class_name" id="class_name" placeholder="Student class"><br>
        <input type="submit" value="Add student">
    </form>
    <br>
    <br>
    <br>
    Add teacher
    <form action="add_teacher" method="POST">
        <label for="username">Teacher username</label><br>
        <input type="text" name="username" id="username" placeholder="Teacher username"><br>
        <label for="username">Teacher full_name</label><br>
        <input type="text" name="full_name" id="full_name" placeholder="Teacher full_name"><br>
        <label for="username">Teacher password</label><br>
        <input type="text" name="password" id="password" placeholder="Teacher password"><br>
        <label for="username">Teacher email</label><br>
        <input type="text" name="email" id="email" placeholder="Teacher email"><br>
        <input type="submit" value="Add teacher">
    </form>
    
{% endblock %}
