{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Admin - Main{% endblock %}</h1>
{% endblock %}


{% block content %}
    Admin page
    <form action="add_class" method="POST">
        <fieldset>
            <legend>Add class:</legend>
            <label for="username">Class name</label><br>
            <input type="text" name="class_name" id="class_name" placeholder="Class name"><br>
            <input type="submit" value="Add class">
        </fieldset>
    </form>
    <br>
    <br>
    <br>
    <form action="add_student" method="POST">
        <fieldset>
            <legend>Add student:</legend>
            <label for="username">Student username</label><br>
            <input type="text" name="username" id="username" placeholder="Student username"><br>
            <label for="full_name">Student full_name</label><br>
            <input type="text" name="full_name" id="full_name" placeholder="Student full_name"><br>
            <label for="password">Student password</label><br>
            <input type="text" name="password" id="password" placeholder="Student password"><br>
            <label for="email">Student email</label><br>
            <input type="text" name="email" id="email" placeholder="Student email"><br>
            <select name="class_name">
                {% for class in classes %}
                    <option value={{ class['id'] }}>{{ class['name'] }}</option>
                {% endfor %}                
            </select>
            <br>
            <input type="submit" value="Add Student">
        </fieldset>
    </form>
    <br>
    <br>
    <br>
    <form action="add_teacher" method="POST">
        <fieldset>
            <legend>Add teacher:</legend>
            <label for="username">Teacher username</label><br>
            <input type="text" name="username" id="username" placeholder="Teacher username"><br>
            <label for="full_name">Teacher full_name</label><br>
            <input type="text" name="full_name" id="full_name" placeholder="Teacher full_name"><br>
            <label for="password">Teacher password</label><br>
            <input type="text" name="password" id="password" placeholder="Teacher password"><br>
            <label for="emails">Teacher email</label><br>
            <input type="text" name="email" id="email" placeholder="Teacher email"><br>
            <input type="submit" value="Add teacher">
        </fieldset>
    </form>
    <br>
    <br>
    <br>
    <form action="add_subject" method="POST">
        <fieldset>
            <legend>Add subject:</legend>
            <label for="username">Subject name</label><br>
            <input type="text" name="subject_name" id="subject_name" placeholder="Subject name"><br>
            <input type="submit" value="Add subject">
        </fieldset>
    </form>
    <br>
    <br>
    <br>
    <form action="add_group" method="POST">
        <fieldset>
            <legend>Add group:</legend>
            <label for="group_name">Group name</label><br>
            <input type="text" name="group_name" id="group_name" placeholder="Group username"><br>
            <label for="subject">Subject</label><br>
            <select name="subject">
                {% for subject in subjects %}
                    <option value={{ subject["id"] }}>{{ subject["name"] }}</option>
                {% endfor %}                
            </select>
            <br>
            <input type="submit" value="Add Group DONT PUSH">
        </fieldset>
    </form>
    <br>
    <br>
    <br>
    <form action="logout" method="POST">
        <fieldset>
            <legend>Logout:</legend>
            <input type="submit" value="Logout" id="logout">
        </fieldset>
    </form>
{% endblock %}
