<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logo.css') }}">
    {% block header %} {% endblock %}
</head>
<body>
    <nav id="sidebar">
        <div id="title">
            Rateyard
            <div id="subtitle">Admin</div>
        </div>
        <a id="nav_students" href="students" {% if section=="students" %}class="active"{% endif %}>Учні</a>
        <a id="nav_classs" href="classes" {% if section=="classes" %}class="active"{% endif %}>Класи</a>
        <a id="nav_groups" href="groups" {% if section=="groups" %}class="active"  {% endif %}>Групи</a>
        <a id="nav_teachers" href="teachers" {% if section=="teachers" %}class="active"{% endif %}>Вчителі</a>
        <a id="nav_subjects" href="subjects" {% if section=="subjects" %}class="active"{% endif %}>Предмети</a>
    </nav>
    <div id="main">
        {% block main %} {% endblock main%}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/base.js') }}"></script>
    {% block tail_js %} {% endblock %}

</body>
</html>

