{% extends 'admin/base.html' %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/classes.css') }}">
{% endblock header %}

{% block main %}
    <div class="block">
        <form action="add_class" method="POST">
            <p class="block_header">Додати клас</p>
            <input class="input_text" type="text" name="class_name" placeholder="Назва класу" autocomplete="off">
            <p>Учні класу</p>
            <table id="students_table" class="table_sortable table_expandable">
                <thead>
                    <tr>
                        <th class="th_sortable">Логін</th>
                        <th class="th_sortable">ПІБ</th>
                        <th class="th_sortable">Електронна пошта</th>
                        <th class="th_sortable">Пароль</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="submit_button bottom_table_button" type="button" onclick="add_student_to_table(this)">Додати учня</button>
            <input class="submit_button" type="submit" value="Додати клас">
        </form>
    </div>
    <div class="block">
        <p class="block_header">Наявні класи</p>
        <div id="class_table">
            <table class="table_sortable">
                <thead>
                    <th class="th_sortable">Назва</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for class in classes %}
                        <tr>
                            <td><input class="input_text_table" type="text" value="{{ class["name"] }}" readonly="readonly"></td>
                            <td><button type="button" class="delete_button" onclick="delete_student(this)"></button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock main %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/classes.js') }}"></script>
{% endblock tail_js %}