{% extends 'base.html' %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/class.css') }}">
{% endblock header %}

{% block content %}
    {% include "admin/nav.html" %}
    <div id="main">
        <div id="add_class">
            <form action="add_class" method="POST">
                <h5>Додати клас</h5>
                <input class="input_text" type="text" name="class_name" placeholder="Назва класу">
                <p>Учні класу</p>
                <div id="student_info">
                    <input class="input_text" type="text" name="full_name" placeholder="ПІБ">
                    <input class="input_text" type="text" name="username" placeholder="Логін">
                    <input class="input_text" type="email" name="email" placeholder="Електронна пошта">
                    <input class="input_text" type="password" name="password" placeholder="Пароль">
                </div>
                <input class="input_button" type="button" value="Додати учня" onclick="add_student_to_table(this)">
                <table id="students_table">
                    <thead>
                        <tr>
                            <th>Логін</th>
                            <th>ПІБ</th>
                            <th>Електронна пошта</th>
                            <th>Клас</th>
                            <th>Пароль</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input class="input_button" type="submit" value="Додати клас">
            </form>
        </div>
    </div>
{% endblock content %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/class.js') }}"></script>
{% endblock tail_js %}