{% extends 'admin/base.html' %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/class.css') }}">
{% endblock header %}

{% block main %}
    <div class="block">
        <form action="add_class" method="POST">
            <p class="block_header">Додати клас</p>
            <input class="input_text" type="text" name="class_name" placeholder="Назва класу" autocomplete="off">
            <p>Учні класу</p>
            <table id="students_table">
                <thead>
                    <tr>
                        <th>Логін</th>
                        <th>ПІБ</th>
                        <th>Електронна пошта</th>
                        <th>Пароль</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="submit_button bottom_table_button" type="button" onclick="add_student_to_table(this)">Додати учня</button>
            <input class="submit_button" type="submit" value="Додати клас">
        </form>
    </div>
{% endblock main %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/class.js') }}"></script>
{% endblock tail_js %}