{% extends 'admin/base.html' %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/groups.css') }}">
{% endblock header %}

{% block main %}
	<div class="block">
		<form action="add_group" method="POST">
			<p class="block_header">Додати групу</p>
			<input class="input_text" type="text" name="group_name" placeholder="Назва групи" autocomplete="off">
			<select name="subject_id">
				{% for subject in subjects %}
                    <option value={{ subject["id"] }}>{{ subject["name"] }}</option>
                {% endfor %}    
			</select>
			<div id="group_info">
				<table id="group_students_table" class="table_sortable">
					<caption>Students</caption>
					<thead>
						<th class="th_sortable">Full name</th>
						<th class="th_sortable">Class</th>
						<th></th>
					</thead>
					<tbody>
						{% for student in students %}
							<tr>
								<td>{{ student["full_name"] }}</td>
								<td>{{ student["class"]["name"] }}</td>
								<td><input type="checkbox" name="student_id" value="{{ student['id'] }}"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<table id="group_teachers_table" class="table_sortable">
					<caption>Teachers</caption>
					<thead>
						<th class="th_sortable">Full name</th>
						<th></th>
					</thead>
					<tbody>
						{% for teacher in teachers %}
							<tr>
								<td>{{ teacher["full_name"] }}</td>
								<td><input type="checkbox" name="teacher_id" value="{{ teacher['id']}}"></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<input class="submit_button" type="submit" value="Додати">
		</form>
	</div>
	<div class="block">
        <p class="block_header">Наявні групи</p>
        <div id="group_table">
            <form action="save_changes()">
                <table class="table_sortable">
                    <thead>
                        <th class="th_sortable">Назва</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr value = {{ group["id"] }}>
                                <td><input class="input_text_table" type="text" value="{{ group["name"] }}" readonly="readonly" data-default="{{ group["name"] }}"></td>
                                <td><button type="button" class="edit_button" onclick="toggle_edit_row(this)" ></button></td>
                                <td><button type="button" class="delete_button" onclick="delete_row(this)"></button></td>
                                <td><button type="button" class="default_button" onclick="reset_to_default(this)"></button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            <input type="button" value="Save changes" class="save_changes_button" onclick="save_changes()"> 
        </div>
    </div>
{% endblock main %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/groups.js') }}"></script>
{% endblock tail_js %}