{% extends "admin/base.html" %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/admin/students.css") }}">
{% endblock header %}

{% block main %}
    <div class="block">
        <form action="add_student" method="POST">
            <p class="block_header">Додати учня дo
                <select name="class_id" onchange="">
                    {% for class in classes %}
                        <option value={{ class["id"] }}>{{ class["name"] }}</option>
                    {% endfor %}                
                </select> 
                класу
            </p>
            <div class="block_input">
                <input class="input_text" type="text" name="full_name" placeholder="ПІБ" autocomplete="off">
                <input class="input_text" type="text" name="username" placeholder="Логін" autocomplete="off">
                <input class="input_text" type="text" name="email" placeholder="Електронна пошта" autocomplete="off">
                <input class="input_text" type="password" name="password" placeholder="Пароль" autocomplete="off">
            </div>
            <input class="submit_button" type="submit" value="Додати">
        </form>
    </div>
    <div class="block">
        <p class="block_header">Наявні учні</p>
        <div id="students_info">
            <div id="students_class">
                Клас:
                <select name="class_id" onchange="change_class(this);">
                    {% for class in classes %}
                        <option value={{ class["id"] }}>{{ class["name"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="students_table">
                <form action="save_changes" method="POST">
                    <table class="table_sortable">
                        <thead>
                            <tr>
                                <th class="th_sortable">Username</th>
                                <th class="th_sortable">Full_name</th>
                                <th class="th_sortable">Email</th>
                                <th class="th_sortable">Class</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr value="{{ student["id"] }}">
                                    <td><input class="input_text_table" type="text" name="username" value="{{ student["username"] }}" readonly="readonly" data-default="{{ student["username"] }}"></td>
                                    <td><input class="input_text_table" type="text" name="full_name" value="{{ student["full_name"] }}" readonly="readonly" data-default="{{ student["full_name"] }}"></td>
                                    <td><input class="input_text_table" type="text" name="email" value="{{ student["email"] }}" readonly="readonly" data-default="{{ student["email"] }}"></td>
                                    <td><select name="class_id" onchange="">
                                            {% for class in classes %}
                                                <option value={{ class["id"] }} {% if class["id"]==student["class"]["id"] %}selected{% else %}disabled{% endif %}>{{ class["name"] }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><button type="button" class="edit_button" onclick="toggle_edit_row(this)"></button></td>
                                    <td><button type="button" class="delete_button" onclick="delete_row(this)"></button></td>
                                    <td><button type="button" class="default_button" onclick="reset_to_default(this)"></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="button" value="Save changes" class="save_changes_button" onclick="save_changes()">
                </form>
            </div>
        </div>
    </div>
{% endblock main %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/admin/students.js") }}"></script>
{% endblock tail_js %}