{% extends 'base.html' %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/student.css') }}">
{% endblock header %}

{% block content %}
    {% include "admin/nav.html" %}
    <div id="main">
        <div id="add_student">
            <form action="pen1s.org" method="post">
                <p>Додати учня до 
                    <select name="class_id">
                        {% for class in classes %}
                            <option value={{ class['id'] }}>{{ class['name'] }}</option>
                        {% endfor %}                
                    </select> 
                    класу
                </p>
                <div id="inputs">
                    <input type="text" name="" placeholder="ПІБ">
                    <input type="text" name="" placeholder="Логін">
                    <input type="email" name="" placeholder="Електронна пошта">
                    <input type="password" name="" placeholder="Пароль">
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/student.js') }}"></script>
{% endblock tail_js %}