{% extends 'admin/base.html' %}

{% block header %}
    <title>Admin - Main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/teachers.css') }}">
{% endblock header %}

{% block main %}
    <div class="block">
        <form action="add_teacher" method="POST">
            <p class="block_header">Додати вчителя</p>
            <div class="block_input">
                <input class="input_text" type="text" name="full_name" placeholder="ПІБ" autocomplete="off">
                <input class="input_text" type="text" name="username" placeholder="Логін" autocomplete="off">
                <input class="input_text" type="text" name="email" placeholder="Електронна пошта" autocomplete="off">
                <input class="input_text" type="password" name="password" placeholder="Пароль" autocomplete="off">
            </div>
            <input class="submit_button" type="submit" value="Додати">
        </form>
    </div>
    <div class="block">
        <p class="block_header">Наявні вчителі</p>
        <div id="teachers_info">
            <div id="teachers_table">
                <form action="save_changes" method="POST">
                    <table class="table_sortable">
                        <thead>
                            <tr>
                                <th class="th_sortable">Username</th>
                                <th class="th_sortable">Full_name</th>
                                <th class="th_sortable">Email</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="teachers_table">
                            {% for teacher in teachers %}
                                <tr value="{{ teacher["id"] }}">
                                    <td><input class="input_text_table" type="text" name="username" value="{{ teacher["username"] }}" readonly="readonly" data-default="{{ teacher["username"] }}"></td>
                                    <td><input class="input_text_table" type="text" name="full_name" value="{{ teacher["full_name"] }}" readonly="readonly" data-default="{{ teacher["full_name"] }}"></td>
                                    <td><input class="input_text_table" type="text" name="email" value="{{ teacher["email"] }}" readonly="readonly" data-default="{{ teacher["email"] }}"></td>
                                    <td><button type="button" class="edit_button" onclick="toggle_edit_row(this)" ></button></td>
                                    <td><button type="button" class="delete_button" onclick="delete_row(this)"></button></td>
                                    <td><button type="button" class="default_button" onclick="reset_to_default(this)"></button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <input type="button" value="Save changes" class="save_changes_button" onclick="save_changes()"> 
                </form>
            </div>
        </div>
    </div>
{% endblock main %}

{% block tail_js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/teachers.js') }}"></script>
{% endblock tail_js %}