@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
:root {
    --huge-font-size: 36px;
    --big-font-size: 24px;
    --normal-font-size: 18px;

    --light-blue-color: #5AADDD;
    --light-black-color: #34373E;
    --red-color: #C33420;
    --hover-link-color: #2D576F;
    --table-gray-color: rgba(90, 173, 221, 0.15);
}

#content {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

#content > * {
    margin: 20px;
}

input[type='search'] {
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px #000000 25%;
    height: 35px;
    padding: 10px 5px;
    border: none;
}

.title {
    color: var(--light-black-color);
    font-size: var(--huge-font-size);
    font-weight: bold;
}

.blue_button {
    display: flex;
    flex-direction: row;
    background: var(--light-blue-color);
    color: white;
    font-size: var(--normal-font-size);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: max-content;
}
.blue_button * {
    font-weight: bold;
}
.blue_button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 11px 4px rgba(0, 0, 0, 0.25);
}

.add_icon {
    background-image: url(/static/images/add.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.button_icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: 10px;
    font-weight: bold;
}

.excel_button {
    display: flex;
    flex-direction: row;
    background:  #1A7343;
    color: white;
    font-size: var(--normal-font-size);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: max-content;
}
.excel_button * {
    font-weight: bold;
}
.excel_button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 11px 4px rgba(0, 0, 0, 0.25);
}

.excel_icon {
    background-image: url(/static/images/excel.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.logo_main {
    color: var(--light-blue-color);
    font-family: 'Kalam', cursive;
    font-size: var(--huge-font-size);
    display: inline-block;
}
.logo_caption {
    color: var(--light-blue-color);
    font-size: var(--big-font-size);
    font-weight: bold;
    display: inline-block;
}

.default_input_text {
    border:none;
    background-image:none;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 10px 10px;
    transition: box-shadow 0.3s
}

.default_input_text:focus {
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    outline: none;
}

.default_input_text::placeholder {
    font-weight: bold;
    color: #B9B9B9;
}

