@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

:root {
    --huge-font-size: 36px;
    --big-font-size: 24px;
    --normal-font-size: 18px;

    --light-blue-color: #5AADDD;
    --light-black-color: #34373E;
    --red-color: #C33420;
    --blue-color: #7298AE;
    --table-gray-color: rgba(90, 173, 221, 0.15);
    --drag-area-color: #8faebf;
}
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: var(--normal-font-size);
    margin: 0;
    padding: 0;
}

body {
    color: var(--light-black-color);
    min-width: min-content;
}

a {
    text-decoration: none;
    white-space: nowrap;
}

#content {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

input[type='search'] {
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px #000000 25%;
    height: 35px;
    padding: 10px 5px;
    border: none;
}

.title {
    color: var(--light-black-color);
    font-size: var(--huge-font-size);
    font-weight: bold;
}
.title * {
    font-weight: bold;
    font-size: var(--huge-font-size);
}

.subtitle {
    color: var(--light-black-color);
    font-size: var(--big-font-size);
    font-weight: bold;
}
.subtitle * {
    font-weight: bold;
    font-size: var(--big-font-size);
}

.blue_button {
    display: flex;
    flex-direction: row;
    background: var(--light-blue-color);
    color: white;
    font-size: var(--normal-font-size);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: max-content;
}
.blue_button * {
    font-weight: bold;
}
.blue_button:hover:not(.disabled) {
    transform: translateY(-2px);
    box-shadow: 2px 3px 11px 4px rgba(0, 0, 0, 0.25);
}
.blue_button.disabled {
    background: var(--blue-color);
    cursor: default;
    box-shadow: none;
    pointer-events: none;
}

.delete_button {
    display: flex;
    flex-direction: row;
    background: var(--red-color);
    color: white;
    font-size: var(--normal-font-size);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: max-content;
}
.delete_button * {
    font-weight: bold;
}
.delete_button:hover:not(.disabled) {
    transform: translateY(-2px);
    box-shadow: 2px 3px 11px 4px rgba(0, 0, 0, 0.25);
}
.delete_button.disabled {
    background: var(--blue-color);
    cursor: default;
    box-shadow: none;
    pointer-events: none;
}

.add_icon {
    background-image: url(/static/images/add.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}
.save_icon {
    background-image: url(/static/images/save.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 17px;
    height: 20px;
}
.delete_icon {
    background-image: url(/static/images/delete.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}
.back_icon {
    background-image: url(/static/images/back.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.button_icon {
    align-self: center;
    margin-right: 10px;
    font-weight: bold;
}

.excel_button {
    display: flex;
    flex-direction: row;
    background:  #1A7343;
    color: white;
    font-size: var(--normal-font-size);
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    width: max-content;
}
.excel_button * {
    font-weight: bold;
}
.excel_button:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 11px 4px rgba(0, 0, 0, 0.25);
}

.excel_icon {
    background-image: url(/static/images/excel.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 24px;
    height: 20px;
}

.exit_icon {
    background-image: url(/static/images/exit.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.logo_main {
    color: var(--light-blue-color);
    font-family: 'Kalam', cursive;
    font-size: var(--huge-font-size);
    display: inline-block;
}
.logo_caption {
    color: var(--light-blue-color);
    font-size: var(--big-font-size);
    font-weight: bold;
    display: inline-block;
}

.default_input_text, .default_select {
    border:none;
    background-image:none;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 2px 2px 9px 1px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 10px 20px;
    transition: box-shadow 0.3s, color 0.3s;
    font-size: var(--normal-font-size);
    max-height: min-content;
    align-self: stretch;
}

.default_input_text:focus, .default_select:focus {
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    outline: none;
}

.default_input_text::placeholder {
    color: #B9B9B9;
    transition: color 0.3s;
}
.default_input_text.wrong {
    box-shadow: 2px 2px 9px 1px rgba(195, 52, 32, 0.65);
    color: var(--red-color);
}
.default_input_text.wrong::placeholder {
    color: rgba(195, 52, 32, 0.65);
}
.default_input_text.wrong:focus {
    box-shadow: 2px 2px 9px 3px rgba(195, 52, 32, 0.65);
}
.fake_readonly_input {
    margin: 10px 20px;
    font-weight: bold;
}
.fake_readonly_input * {
    font-weight: bold;
}

.default_select {
    -webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url('/static/images/dropdown_arrow.svg');
    background-size: 10px;
    background-repeat: no-repeat;
	background-position: right 15px center;
}

a.text, a.text:visited, a.text:active{
    color: var(--light-black-color);
    text-decoration: underline;
    transition: color 0.2s;
}
a.text:hover {
    color: var(--light-blue-color)
}

.checkbox {
    background-image: url(/static/images/checkbox.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
}

.checkbox.checked {
    background-image: url(/static/images/checkbox_checked.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
}

.loader_icon {
    border: 7px solid #f3f3f3;
    border-top: 7px solid var(--light-blue-color);
    border-radius: 50%;
    width:  50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#preloader {
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#preloader.hidden {
    display: none;
}