#admin_header, #teacher_header {
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    width: 100%;
    min-width: max-content;
    height: min-content;
    z-index: 10;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

#admin_header>div:nth-child(1), #teacher_header>div:nth-child(1) {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#admin_header .logo_main, #teacher_header .logo_main {
    margin-left: 20px;
}

#admin_header>div:nth-child(2), #teacher_header>div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#admin_header>div:nth-child(2)>a {
    color: var(--light-black-color);
    display: flex;
    justify-content: center;
    align-self: stretch;
    padding: 0 10px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

#admin_header>div:nth-child(2)>a:hover, #admin_header>div:nth-child(2)>a#current {
    background-color: var(--light-blue-color);
    color: white;
}

#admin_header>div:nth-child(2)>a>div {
    font-size: var(--big-font-size);
    font-weight: bold;
    font-style: normal;
    height: min-content;
    margin: auto;
}

#exit_button {
    display: flex;
    align-self: center;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 15px;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

#exit_button.disabled {
    box-shadow: none;
    background: var(--blue-color) !important;
    color: white !important;
    cursor: default;
}

#teacher_header #exit_button:hover:not(.disabled) {
    background: var(--lightest-blue-color) !important;
}

#exit_button>div:nth-child(1) {
    width: 23px;
    height: 26px;
    margin-right: 10px;
}

#exit_button>div:nth-child(2) {
    font-weight: bold;
    font-size: var(--normal-font-size);
}

#admin_header {
    background: white;
}

#admin_header #exit_button {
    background: var(--light-blue-color);
    color: white;
}

#teacher_header {
    background: var(--light-blue-color);
}

#teacher_header .logo_main, #teacher_header .logo_caption {
    color: white;
}

#teacher_header #exit_button {
    color: var(--light-blue-color);
    background: white;
}

.header_icon {
    width: 45px;
    height: 45px;
}

#burger_wrapper {
    align-self: stretch;
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background 0.3s;
    cursor: pointer;
}

#burger_wrapper>svg {
    transition: fill 0.3s;
    fill: white;
}

#burger_wrapper:hover {
    background: white;
}

#burger_wrapper:hover>svg {
    fill: var(--light-blue-color);
}

#teacher_user {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#teacher_user div {
    transition: color 0.3s;
}

#teacher_user svg {
    transition: fill 0.3s;
}

#teacher_user>div:nth-child(1) {
    margin-right: 10px;
    font-weight: bold;
    font-size: var(--big-font-size);
    color: white;
}

#teacher_user:hover div {
    color: var(--lightest-blue-color);
}

#teacher_user:hover svg {
    fill: var(--lightest-blue-color);
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 300px;
    width: max-content;
    transform: translateX(-100%);
    background: var(--light-blue-color);
    z-index: 12;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: scroll;
    visibility: hidden;
}

#sidebar_close_area {
    display: none;
}

#sidebar_close_area.opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

#sidebar.visible {
    visibility: visible;
}

#sidebar.opened {
    transform: none;
}

#sidebar>* {
    margin-bottom: 20px;
}

.sidebar_text {
    font-weight: bold;
    font-size: var(--big-font-size);
    color: white;
}

#sidebar_close_wrapper {
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
    align-self: flex-end;
}

#sidebar_close_wrapper:hover {
    background: white;
}

#sidebar_close_wrapper>svg {
    fill: white;
    transition: fill 0.3s;
}

#sidebar_close_wrapper:hover>svg {
    fill: var(--light-blue-color);
}

@media only screen and (max-width: 800px) {
    #sidebar {
        right: 0;
        width: auto;
    }
    #sidebar>* {
        width: auto;
    }
}

@media only screen and (min-width: 800px) {
    #sidebar_close_wrapper {
        display: none;
    }
}