#content {
    height: 100%;
}

#login_block {
    width: 300px;
    align-self: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#login_block > * {
    margin-bottom: 15px;
}

#account{
    display: flex;
    justify-content: space-between;
}

#account > .blue_button {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 15px;
}

.forget_password {
    color: var(--link-color);
}

.forget_password:hover {
    cursor: pointer;
}