.bottom_table_button {
	width: 100%;
	margin-bottom: 20px;
	background-color: #aca69f;
	border-color: #696560;
}
#students_table th:nth-child(1),
#students_table td:nth-child(1) {
	width: 20%;
}
#students_table th:nth-child(2), 
#students_table td:nth-child(2) {
	width: 20%;
}
#students_table th:nth-child(3), 
#students_table td:nth-child(3) {
	width: 20%;
}
#students_table th:nth-child(4), 
#students_table td:nth-child(4) {
	width: 10%;
}
#students_table th:nth-child(5), 
#students_table td:nth-child(5) {
	width: 1%;
}
#class_table th:nth-child(1) {
	width: 99%;
}
#class_table th:nth-child(2) {
	width: 1%;
}