@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    min-width: min-content;
}
#main {
	margin-left: 200px;
	background: #E5E5E5;
	padding: 40px;
	height: 100vh;
}
h5 {
	font-size: 30px;
}
#student_info {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.input_text {
	display: block;
	padding: 5px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid #666B3A;
}
.input_button {
    margin-top: 10px;
	width: 150px;
	height: 50px;
	font-size: 20px;
	color: white;
	background-color: #ADAB76;
	border: 3px solid #666B3A;
	border-radius: 15px;
}
#students_table {
    margin-top: 10px;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid #666B3A;
}
#students_table > thead {
	background: #ADAB76;
	color: white;
}
#students_table > thead > tr > th {
	padding: 5px;
}

#students_table > tbody > tr > td {
	background-color: #DCDFE4;
	padding: 3px 5px;
}
#students_table > tbody > tr > td:last-child {
	background-color: #DCDFE4;
	padding: 3px 5px;
	width: 22px;
}

#students_table th:nth-child(1) {
	width: 30%;s
}

#students_table th:nth-child(2) {
	width: 30%;
}

#students_table th:nth-child(3) {
	width: 30%;
}

#students_table th:nth-child(4) {
	width: 1%;
}

#students_table th:nth-child(5) {
	width: 22px;
}

.delete_button {
	background: none;
	border: none;
}
.delete_button:after {
	content: "\274c";
	font-size: 20px;
}

