.bottom_table_button {
	width: 100%;
	margin-bottom: 20px;
	background-color: #aca69f;
	border-color: #696560;
}
.input_text_table {
	width: 100%;
	background: none;
	border: none;
	color: black;
	font-size: 15px;
}
.input_text_table:focus {
	border-bottom: 2px solid #666B3A;
}