#group_info {
	display: grid;
	grid-template-columns: auto auto;
}

#group_info > table {
	width: 100%;
	margin: 5px 5px;
}

#group_students_table th:nth-child(1),
#group_students_table td:nth-child(1) {
	width: 70%;
}

#group_students_table th:nth-child(2),
#group_students_table td:nth-child(2) {
	width: 30%;
}

#group_students_table th:nth-child(3),
#group_students_table td:nth-child(3) {
	width: 1%;
}

#group_students_table th:nth-child(4),
#group_students_table td:nth-child(4) {
	width: 1%;
}

#group_teachers_table th:nth-child(1),
#group_teachers_table td:nth-child(1) {
	width: 99%;
}

#group_teachers_table th:nth-child(2),
#group_teachers_table td:nth-child(2) {
	width: 1%;
}

#group_teachers_table th:nth-child(3),
#group_teachers_table td:nth-child(3) {
	width: 1%;
}

#group_table th:nth-child(1) {
	width: 99%;
}
#group_table th:nth-child(2) {
	width: 1%;
}
#group_table th:nth-child(3) {
	width: 1%;
}
#group_table th:nth-child(4) {
	width: 1%;
}