@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
nav {
	background: #666B3A;
	width: 200px;
	height: 100%;
	font-size: 30px;
	font-family: 'Noto Sans', sans-serif;
	position: fixed;
	display: grid;
	grid-auto-rows: min-content;
	padding: 15px;
}
#sidebar > * {
	display: block;
}
#title {
	color: white;
	font-family: 'Kalam', cursive;
	font-size: 40px;
	height: min-content;
	margin-left: 8px;
}
#sidebar > a {
	border: 3px solid #0F211A;
	border-radius: 15px;
	color: black;
	padding: 8px 17px;
	margin-bottom: 10px;
	text-decoration: none;
	background-color: white;
	font-size: 20px;
}
#sidebar > a:hover {
	background:#dcdfe4;
}

#sidebar > a.active {
	background: #ADAB76;
}
