#students_info {
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-rows: min-content;
}
#students_class {
  margin-bottom: 5px;
	text-align: left;
}
#sort_by {
	margin-bottom: 5px;
  text-align: right;
}
#students_table {
	grid-column-start: 1;
	grid-column-end: 3;
	table-layout: fixed;
}
#students_table th:nth-child(1) {
	width: 30%;
}
#students_table th:nth-child(2) {
	width: 30%;
}
#students_table th:nth-child(3) {
	width: 30%;
}
#students_table th:nth-child(4) {
	width: 1%;
}
#students_table th:nth-child(5) {
	width: 1%;
}
