#subjects_info {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: min-content;
}
#subjects_class {
  margin-bottom: 5px;
	text-align: left;
}
#subjects_table {
	grid-column-start: 1;
	grid-column-end: 3;
	table-layout: fixed;
}
#subjects_table th:nth-child(1) {
	width: 99%;
}
#subjects_table th:nth-child(2) {
	width: 1%;
}
#subjects_table th:nth-child(3) {
	width: 1%;
}

