#teachers_info {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: min-content;
}
#teachers_class {
  margin-bottom: 5px;
	text-align: left;
}
#teachers_table {
	grid-column-start: 1;
	grid-column-end: 3;
	table-layout: fixed;
}
#teachers_table th:nth-child(1) {
	width: 30%;
}
#teachers_table th:nth-child(2) {
	width: 30%;
}
#teachers_table th:nth-child(3) {
	width: 30%;
}
#teachers_table th:nth-child(4) {
	width: 1%;
}
#teachers_table th:nth-child(5) {
	width: 1%;
}
#teachers_table th:nth-child(6) {
	width: 1%;
}

