<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <!-- 
    <a href="https://pornhub.com/">Разсадник рукоблудов</a>
    -->
    <form action="" method="POST">
        <label for="username">Login</label><br><input type="text" id="usename" name="username"><br>
        <label for="password">Password</label><br><input type="text" id="password" name="password"><br>
        <input type="submit" value="Log in">`
    </form>
</body>
</html>