@media only screen and (max-width: 800px) {
    .title_block {
        min-width: 0;
    }
    .input_grid {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    #bottom_title_block {
        flex-direction: column;
    }
    #bottom_title_block > * {
        margin: 0;
    }
    #bottom_title_block .blue_button {
        margin: 0;
        margin-bottom: 15px;
        width: auto;
        justify-content: center;
    }
}