.subject_box {
    display: flex;
    flex-direction: row;
    width: 260px;
    min-width: 0;
    height: min-content;
    padding: 20px;
    border-radius: 15px;
    background: white;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s;
}

.subject_box > * {
    color: var(--light-blue-color);
    transition: color 0.3s;
    font-weight: 700;
    font-size: var(--big-font-size);
    text-overflow: ellipsis;
}

.subject_box:hover, .subject_box.current {
    background: var(--light-blue-color);
}

.subject_box:hover *, .subject_box.current * {
    color: white !important;
}

.new-marks {
    --size: 35px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: red;
    --offset: 10px;
    right: var(--offset);
    top: var(--offset);
    align-items: center;
    justify-content: center;
    position: relative;
    left: 30px;
    top: -30px;
    display: none;
}

.new-marks.visible {
    display: flex;
}

.new-marks>div {
    color: white;
    font-weight: 700;
}

.new-marks-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}

@media only screen and (max-width: 800px) {
    #header_teacher_full_name, .logo_main, .logo_caption {
        display: none;
    }
    .subject_box>*:first-child {
        flex-shrink: 1;
        min-width: 0;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
    }
    .subject_box {
        height: auto;
    }
    #content {
        margin: 20px;
    }
}
