#content {
    display: flex;
    flex-wrap: wrap;
}

#content>* {
    margin: 0 30px 30px 0;
}

@media only screen and (max-width: 800px) {
    #content>* {
        flex-grow: 1;
        margin-right: 0px;
    }
}