#subjects {
    background-color: var(--light-blue-color);
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: scroll;
    height: auto;
    max-height: 100%;
}

#subjects>* {
    margin-bottom: 20px;
}

#marks {
    margin: 30px;
}

#marks>* {
    margin-bottom: 30px;
}

#marks-header {
    font-weight: 700;
    font-size: var(--huge-font-size);
}

.mark-container {
    background: #FFFFFF;
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.mark_info {
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.mark_info div:nth-child(1) {
    font-weight: bold;
    font-size: 24px;
    color: var(--light-blue-color);
}

.mark_info div:nth-child(2) {
    color: var(--link-color);
    font-weight: bold;
    font-size: 18px;
}

.mark {
    border-radius: 50%;
    background-color: #BEE550;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark>div {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.comment {
    color: white;
    background: var(--light-blue-color);
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: calc(100% - 80px);
    height: 0;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 20px;
    position: relative;
    top: -35px;
    margin-left: 30px;
    z-index: -1;
    transition: height .4s;
}

.comment.show {
    height: 73px;
    transition: height .4s;
}

body, html {
    height: 100%;
    max-height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;
}

#content {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0;
    min-height: 0;
    height: 100%;
}

@media only screen and (max-width: 800px) {
    body, #content {
        display: block;
        max-height: max-content;
    }
    #content {
        height: max-content;
    }
    #subjects {
        position: fixed;
        top: 0;
        z-index: 11;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: stretch;
    }
    #subjects>* {
        width: auto;
    }
}

@media only screen and (min-width: 800px) {
    #burger_wrapper {
        display: none;
    }
}