#subjects {
    background-color: var(--light-blue-color);
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 30px;
    overflow: auto;
}

#subjects>* {
    margin-bottom: 20px;
}

#marks {
    margin: 30px;
    min-width: 0;
}

#marks>* {
    margin-bottom: 20px;
}

#marks-header {
    font-weight: 700;
    font-size: var(--huge-font-size);
}

.mark_container {
    box-shadow: 2px 2px 9px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.mark_part {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1;
    position: relative;
}

.comment_part { 
    background-color: var(--light-blue-color);
    padding: 10px 20px;
    color: white;
    font-style: italic;
    font-weight: 600;
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment_part.visible {
    display: block;
}

.mark_info {
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
    min-width: 0;
    flex-wrap: wrap;
}

.mark_info > * {
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex-shrink: 1;
}

.mark_info div:nth-child(1) {
    font-weight: bold;
    font-size: 24px;
    color: var(--light-blue-color);
}

.mark_info div:nth-child(2) {
    color: var(--link-color);
    font-weight: bold;
    font-size: 18px;
}

.mark {
    border-radius: 50%;
    background-color: var(--light-blue-color);
    width: 50px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best {
    background-color: #35DD64;
}

.good {
    background-color: #BEE550;
}

.bad {
    background-color: #F1CF55;
}

.worst {
    background-color: #E46464;
}

.mark>div {
    font-weight: bold;
    font-size: 24px;
    color: white;
}

body, html {
    max-width: 100%;
    width: 100%;
    min-width: 300px;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;
}

#content {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin: 0;
    min-height: 0;
}

@media only screen and (max-width: 800px) {
    body, #content {
        display: block;
    }
    #content {
        grid-template-columns: 1fr;
    }
    #subjects {
        position: fixed;
        top: 0;
        z-index: 11;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: stretch;
    }
    #subjects>* {
        width: auto;
    }
    #marks {
        margin: 20px;
    }
}

@media only screen and (min-width: 800px) {
    #burger_wrapper {
        display: none;
    }
    #marks_wrapper {
        overflow-y: auto;
    }
    body, html {
        height: 100%;
        max-height: 100%;
        min-height: 0;
    }
}

.mark_wrapper {
    position: relative;
}

.new_mark_mark.visible {
    background: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: -10px;
    right: -10px;
}