.default_table {
    justify-self: stretch;
    border-collapse: collapse;

}
.default_table th, .default_table td{
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.default_table td a {
    font-weight: bold;
}
.default_table tbody:nth-child(2) tr:nth-child(2n+1)
{
    background: rgba(90, 173, 221, 0.15);
}
.default_table tbody:nth-child(2) tr:nth-child(2n)
{
    background: rgba(90, 173, 221, 0.05);
}

.title_block {
    display: flex;
    flex-direction: row;
    min-width: max-content;
}

.title_block > * {
    margin-right: 20px;
}

.input_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.input_grid>div:nth-child(odd) {
    font-size: var(--big-font-size);
    font-weight: bold;
}