.default_table {
    border-collapse: collapse;
    height: min-content;
}
.default_table th, .default_table td{
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
.default_table td a {
    font-weight: bold;
}
.default_table tbody:nth-child(2) tr:nth-child(2n+1)
{
    background: rgba(90, 173, 221, 0.15);
}
.default_table tbody:nth-child(2) tr:nth-child(2n)
{
    background: rgba(90, 173, 221, 0.05);
}

#students_data_file {
    display: none;
}
